@charset "utf-8";

.ww-box-list {

  $color-border: #ddd;
  $color-title: #444;
  $color-desc: #777;

  $fs-title: 18px;
  $fs-desc: 12px;


  > li  {
    padding: 10px;

    &:hover {
      background-color: #fafafa;
    }
  }


  &--border-solid {

    > li + li {
      border-top: 1px solid $color-border;
    }
  }

  &__title  {
    color: $color-title;
    font-size: $fs-title;
    font-weight: bold;

    &:hover {
      color: darken($color-title, 10%);
    }
  }

  &__description  {
    color: $color-desc;
    font-size: $fs-desc;
  }
}

